<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cache_file.name %>
</p>

<p>
  <strong>Cache:</strong>
  <%= @cache_file.cache %>
</p>
<p>
  <strong>URL:</strong>
  <%= @cache_file.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cache_file.status %>
</p>


<%= link_to 'Edit', edit_cache_file_path(@cache_file) %> |
<%= link_to 'Back', cache_files_path %>
